<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="LOG_PATH">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
      

        <RollingFile
                name="appLog"
                fileName="/var/log/jpaandhibernate/info_logs/application.log"
                filePattern="/var/log/jpaandhibernate/info_logs/application.%d{dd-MMM-HH-mm}.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 * * * * ?" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>

        <RollingFile
                name="errorLog"
                fileName="/var/log/jpaandhibernate/error_logs/errors.log"
                filePattern="/var/log/jpaandhibernate/error_logs/errors.%d{dd-MMM-HH-mm}.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 * * * * ?" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>


    </Appenders>
   <!-- <Loggers>

        <Root level="info">
            <AppenderRef ref="errorLog" />
        </Root>

        <Logger name="com.atdxt.JdbcConnection.Controller" level="info">

            <AppenderRef ref="Console" />
            <AppenderRef ref="appLog" />
        </Logger>

    </Loggers>-->

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="appLog" />
        </Root>

        <Logger name="com.atdxt.JdbcConnection.Controller" level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="appLog" />
        </Logger>

        <Logger name="com.atdxt.JdbcConnection.Controller" level="error">
            <AppenderRef ref="errorLog" />
        </Logger>
        
    </Loggers>
</Configuration>